@font-face {
  font-family: "Expose-Black";
  src: local("Expose-Black"), url("./Fonts/Expose/Expose-Black.ttf") format("truetype");
}
.App {
  background-color: white;
}

.headerMainDiv {
  padding-top: 20px;
}
.headerMainDiv .logoHeaderLabel1 {
  font-family: "Expose-Black";
  margin-bottom: 0px;
}
.headerMainDiv .logoHeaderLabel2 {
  font-size: 40px;
  font-family: "Expose-Black";
}
.headerMainDiv .headerDarkButton button {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #8300c8;
}
.headerMainDiv .headerButtonGroupDiv {
  margin-top: 10px;
  margin-bottom: 20px;
}
.headerMainDiv .headerButtonGroupDiv .headerGroupButton {
  background-color: #f6fafa;
  border: 1px solid #f6fafa;
  color: black;
  font-size: 14px;
}
.headerMainDiv .headerButtonGroupDiv .headerGroupButton:hover {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}
.headerMainDiv .headerButtonGroupDiv .headerGroupButton:focus {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}
.headerMainDiv .headerButtonGroupDiv .headerGroupButton:active {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}
.headerMainDiv .headerButtonGroupDiv .headerGroupButton:first-child {
  border-radius: 25px 0px 0px 25px;
}
.headerMainDiv .headerButtonGroupDiv .headerGroupButton:last-child {
  border-radius: 0px 25px 25px 0px;
}
.headerMainDiv .headerDarkButton {
  margin-top: 10px;
  font-size: 22px;
}
.headerMainDiv .headerLoginButton button {
  margin-top: 10px;
  border-radius: 25px;
  font-size: 14px;
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
  font-size: 14px;
}
.headerMainDiv .headerLoginButton button:hover {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}
.headerMainDiv .headerLoginButton button:focus {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}
.headerMainDiv .headerLoginButton button:active {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}

.bodyMain .leftBodyMain {
  background-image: url("./Assets/backgroundImage1.png");
  height: 100%;
  min-height: 700px;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bodyMain .leftBodyMain .glass {
  border-radius: 15px;
  border: 1px solid #817d7d;
  background-color: rgba(77, 77, 77, 0.281);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 50%;
  width: 60%;
  position: relative;
}
.bodyMain .leftBodyMain .glass .glassInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv {
  width: 100%;
  height: 100%;
  margin-left: 10%;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formTextLabel {
  gap: 50px;
  position: relative;
  display: flex;
  height: 100px;
  width: 90%;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formTextLabel button {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  border: none;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formTextLabel .textButton {
  position: absolute;
  font-size: 60px;
  left: 0%;
  color: white;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formTextLabel .fileButton {
  position: absolute;
  font-size: 40px;
  bottom: 15%;
  right: 0;
  color: rgba(255, 255, 255, 0.3);
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formTextAreaDiv {
  display: flex;
  position: relative;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formTextAreaDiv textarea {
  border: none;
  border-radius: 10px;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  resize: none;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  width: 88%;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formTextAreaDiv a {
  position: absolute;
  background-color: #8300c8;
  bottom: 5%;
  right: 15%;
  border-radius: 50%;
  padding: 3px 7px 3px 7px;
  text-decoration: none;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formTextAreaDiv a i {
  color: white;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formUploadAreaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 10%;
  border-radius: 15px;
  border: 1px dashed rgba(255, 255, 255, 0.4588235294);
  display: none;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formUploadAreaDiv .formUploadFirstParagraph {
  margin-bottom: 0%;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formUploadAreaDiv p {
  color: white;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formUploadAreaDiv .formUploadButton {
  background-color: #8300c8;
  border-color: #8300c8;
  padding-left: 30px;
  padding-right: 30px;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formUploadAreaDiv .formUploadButton:hover {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formUploadAreaDiv .formUploadButton:focus {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}
.bodyMain .leftBodyMain .glass .glassInner .formTextDiv .formUploadAreaDiv .formUploadButton:active {
  background-color: #8300c8;
  border: 1px solid #8300c8;
  color: white;
}
.bodyMain .leftBodyMain .glass .glassFooter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #8300c8;
  border-radius: 0px 0px 15px 15px;
}
.bodyMain .leftBodyMain .glass .glassFooter label {
  color: white;
}
.bodyMain .leftBodyMain .glass .glassFooter label a {
  color: black;
  text-decoration: none;
}
.bodyMain .rightBodyMain {
  height: 100%;
  min-height: 700px;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bodyMain .rightBodyMain .floatingIconsMain {
  position: absolute;
  top: 20%;
  width: 100%;
}
.bodyMain .rightBodyMain .floatingIconsMain .floatingIcons1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.bodyMain .rightBodyMain .floatingIconsMain .floatingIcons1 .floatingIconsImage {
  position: absolute;
  left: 0;
  background-color: #8300c8;
  padding: 9px 10px 9px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-animation-name: floatingIconsImage;
          animation-name: floatingIconsImage;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@-webkit-keyframes floatingIconsImage {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}
@keyframes floatingIconsImage {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}
.bodyMain .rightBodyMain .floatingIconsMain .floatingIcons1 .floatingIconsImage i {
  color: #8300c8;
  background-color: #f1dafd;
  font-size: 20px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}
.bodyMain .rightBodyMain .floatingIconsMain .floatingIcons1 .floatingIconsImage label {
  font-size: 16px;
  margin-left: 10px;
  color: white;
}
.bodyMain .rightBodyMain .floatingIconsMain .floatingIcons1 .floatingIconsImage1 {
  background-color: #8300c8;
  border-radius: 15px;
  position: absolute;
  right: 0;
  padding: 10px;
  -webkit-animation-name: floatingIconsImage1;
          animation-name: floatingIconsImage1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@-webkit-keyframes floatingIconsImage1 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floatingIconsImage1 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.bodyMain .rightBodyMain .floatingIconsMain .floatingIcons1 .floatingIconsImage1 .floatingIconsImageInner {
  background-color: #efd5fc;
  padding: 15px 12px 15px 12px;
  border-radius: 50%;
}
.bodyMain .rightBodyMain .floatingIconsMain .floatingIcons1 .floatingIconsImage1 .floatingIconsImageInner i {
  color: #8300c8;
  background-color: white;
  font-size: 20px;
  padding: 8px 8px 8px 8px;
  border-radius: 50%;
}
.bodyMain .rightBodyMain .floatingIconsMain1 {
  position: absolute;
  bottom: 20%;
  width: 100%;
}
.bodyMain .rightBodyMain .floatingIconsMain1 .floatingIcons2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 30px;
}
.bodyMain .rightBodyMain .floatingIconsMain1 .floatingIcons2 .floatingIconsImage {
  position: absolute;
  right: 0;
  background-color: #8300c8;
  padding: 9px 10px 9px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-animation-name: floatingIconsImage;
          animation-name: floatingIconsImage;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floatingIconsImage {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.bodyMain .rightBodyMain .floatingIconsMain1 .floatingIcons2 .floatingIconsImage i {
  color: #8300c8;
  background-color: #f1dafd;
  font-size: 20px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}
.bodyMain .rightBodyMain .floatingIconsMain1 .floatingIcons2 .floatingIconsImage label {
  font-size: 16px;
  margin-left: 10px;
  color: white;
}
.bodyMain .rightBodyMain .floatingIconsMain1 .floatingIcons2 .floatingIconsImage1 {
  position: absolute;
  left: 0;
  background-color: #8300c8;
  border-radius: 15px;
  padding: 10px;
  -webkit-animation-name: floatingIconsImage;
          animation-name: floatingIconsImage;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floatingIconsImage {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.bodyMain .rightBodyMain .floatingIconsMain1 .floatingIcons2 .floatingIconsImage1 .floatingIconsImageInner {
  background-color: #efd5fc;
  padding: 15px 12px 15px 12px;
  border-radius: 50%;
}
.bodyMain .rightBodyMain .floatingIconsMain1 .floatingIcons2 .floatingIconsImage1 .floatingIconsImageInner i {
  color: #8300c8;
  background-color: white;
  font-size: 20px;
  padding: 8px 8px 8px 8px;
  border-radius: 50%;
}
.bodyMain .rightBodyMain .rightBodyMainInner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 90px;
}
.bodyMain .rightBodyMain .rightBodyMainInner .rightBodyh1 {
  color: black;
  font-size: 60px;
  font-family: "Expose-Black";
}
.bodyMain .rightBodyMain .rightBodyMainInner .rightBodyh2 {
  color: #8300c8;
  font-size: 60px;
  font-family: "Expose-Black";
}
.bodyMain .rightBodyMain .rightBodyMainFooter {
  position: absolute;
  bottom: 0;
  margin-left: 50px;
}
.bodyMain .rightBodyMain .rightBodyMainFooter label a {
  color: #8300c8;
  text-decoration: none;
}/*# sourceMappingURL=App.css.map */